<div class="container">
    <div class="row">
        <h2 class="h2">
            MY Profile
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">email</th>
                    <th scope="col">name</th>
                    <th scope="col">phone_no</th>
                    <th scope="col">profile_image</th>
                    <th class="text-center" scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr >
                    <td >{{books.email}}</td>
                    <td >{{books.name}}</td>
                    <td >{{books.phone_no}}</td>
                    <td><img [src]="books.profile_image" height='100' width='100' /></td>
                    <td class="text-center">
                        <button class="btn btn-primary"   (click)="edit()">edit profile</button>
                        <br>
                        <button class="btn btn-primary"   (click)="delete()">delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- <table>
    <tr ng-repeat-start="let element in books">
      <td>email</td>
      <td>{{books.email}}</td>
    </tr>
    
    <tr ng-repeat-end>
      <td>name</td>
      <td>{{books.name}}</td>
    </tr>
  </table> -->

  <!-- <div *ngFor='let row of books'>
    <ul>
      <li *ngFor='let obj of row | keyvalue'>{{obj.key}}:{{key.value}} </li>
     </ul>
  </div> -->








  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->


    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef=books> {{books.name}} </td>   
     </ng-container>
  
  
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->


  <!-- <div ng-app="myApp" ng-controller="customersCtrl"> 

    <table>
      <tr ng-repeat="x in names">
        <td>{{ x.Name }}</td>
        <td>{{ x.Country }}</td>
      </tr>
    </table>
    
    </div>
     -->