<div class="outer">
    <mat-card class="example-card">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">

                    <form [formGroup]="regForm">
                        <div>
                            REGISTER
                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <label>Email</label>
                                <input type="text" class="form-control" formControlName="email" required>
                            </div>
                            <span class="text-danger textcolore" *ngIf="regForm.hasError('required','email') && (saveformflag) ">Email is required</span>

                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <label>Password</label>
                                <input type="text" class="form-control" formControlName="password" required>
                            </div>
                            <span class="text-danger textcolore" *ngIf=" regForm.hasError('required','password') && (saveformflag) ">Password is required</span>

                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <label>Phone no</label>
                                <input type="text" class="form-control" formControlName="phone_no" required>
                            </div>
                            <span class="text-danger textcolore" *ngIf=" regForm.hasError('required','phone_no') && (saveformflag) ">Phone no is required</span>

                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <label>Profile Image</label>
                                <!-- <input type="text" class="form-control" formControlName="profile_image" required>
                     -->
                                <input type="file" class="form-control" (change)="getFile($event)"
                                    formControlName="profile_image" required>
                            </div>
                            <span class="text-danger textcolore" *ngIf=" regForm.hasError('required','profile_image') && (saveformflag) ">Profile image is required</span>

                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <label>Name</label>
                                <input type="text" class="form-control" formControlName="name" required>
                            </div>
                            <span class="text-danger textcolore" *ngIf=" regForm.hasError('required','name') && (saveformflag) ">Name is required</span>

                        </div>
                        <br>
                        <div class="form-group">
                            <div>
                                <label>DOB</label>
                                <input type="date" class="form-control" formControlName="dob" required>
                            </div>
                            <span class="text-danger textcolore" *ngIf=" regForm.hasError('required','dob') && (saveformflag) ">DOB is required</span>

                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn bg-light" type="submit" (click)="onSubmit()">SUBMIT</button>
                        </div>

                        <br>
                        <button class="btn bg-light" type="submit" (click)="login()">LOGIN</button>

                    </form>
                </div>
            </div>
        </div>
    </mat-card>
</div>