.example-card {
    max-width: 400px;
    text-align: center;
    border: 3px solid green;
  }
  .outer {
    width: 400px;
    height: 100px;
    background-color: red;
    
    position: absolute;
    top:0;
    bottom: 300px;
    left: 0;
    right: 0;
    
    margin: auto;
  }