.example-card {
    max-width: 400px;
    text-align: center;
    border: 3px solid green;
  }
  .outer {
    width: 400px;
    height: 200px;
    background-color: red;
    
    position: absolute;
    top: 00px;;
    bottom: 50px;
    left: 0;
    right: 0;
    
    margin: auto;
  }
.textcolore{
  color: red;
}